body{
     display: grid;
     grid-template-rows: 3fr 3fr 3fr 3fr;
     grid-template-columns: 1fr 2fr 1fr;
     column-gap: 5rem;
     row-gap: 2rem;
}

.navbar{
     grid-row: 1;
     grid-column-start: 1;
     grid-column-end: 4;
}

.barChart{
     grid-row: 2;
     grid-column: 2;
}

.pieChart{
     grid-row: 3;
     grid-column: 2;
}

.linePlot{
     grid-row: 4;
     grid-column: 2;
}