.App {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 0 1rem 1rem 0;
}

.leftSide {
    width: 20rem;
}

.center {
    width: 30vw;
}

.rightSide {
    width: 25rem;
    padding: 0.25rem 2rem;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
