.card {
    margin-right: 2rem;
    padding-top: 1rem;
    border-radius: 100rem;
    border: none;
}
.card:hover {
    border-radius: 100rem;
    background-color: #baeafdbb;
}
.card-profilePic{
    width: 50px;
    height: auto;
    border-radius: 50%;
}


.card-options{
    margin-top: 1rem;
    width:30px;
    height: auto;
}

.card-options:hover{
    color:hsl(0, 0%, 100%);
}

.card-logout {
    position: absolute;
    top: -2rem;
    left: -0.25rem;
    background: hsl(0, 0%, 100%);
    width: 15rem;
    height: 3.0rem;
    margin: -1rem 0 0;
    box-shadow: 0px 0px 3px 1px hsl(0, 0%, 80%);
    z-index: 1;
    border-radius: 1rem;
}

.card-logout:hover {
    background-color: hsl(0, 0%, 95%);
}

.card-logout-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-logout-text {
    padding: 1rem;
}
