.feed_feed {
     border-left: 1px solid #ececec;
     border-right: 1px solid #ececec;
     height: 70%;
     /* The height and scrolling of this will require some figuring out  */
     border: 1px solid blue;
}

.feed_post{
     border-bottom: 1px solid #ececec;
}

.feed_post:hover {
     background-color: #e2e2e28a;
}

.feed_profilePic{

}

.feed_postActionIcon {
     color: #858585;
}

.feed_centered{
     text-align:center;
     padding: 10px;
}
