.follow-recs {
    width: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    padding-top: 0.5rem;
    background: hsl(0, 0%, 95%);
    border: 1px solid transparent;
    font-size: 13px;
}

.follow-recs-side-padding{
    padding-left: 1rem;
    padding-right: 1rem;
}

.follow-recs-line {
    padding-top: 0.5rem;
    border-bottom: 1px solid hsl(0, 0%, 86%);
}

.follow-recs-footer {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow-recs-refresh {
    background-color: hsl(0, 0%, 95%);
    border: none;
    color: blue;
    text-decoration-color: blue;
    text-decoration: underline;
}

.follow-recs-follow{
    margin-top: 0.5rem;
    height: 2.5rem;
    width: 5rem;
    border: 2px solid rgb(54, 164, 207);
    color:rgb(78, 172, 209);
    font-weight: bold;
}

.follow-recs-fix{
    width: 100%;
}

.follow-recs-icon {
    color: hsl(203,85%,60%);
    font-size: 2rem;
}
