.menu-menu {
    margin-top: 0.5rem;
    width: 100%;
    font-weight: bold;
}

.menu-twitter-icon{
    margin-bottom: 2rem;
    color:#40acf0;
}

.menu-home-icon{
    color:#40acf0;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.menu-tweet-button{
    padding: 8px;
    width: 100%;
    border: none;
    background-color: #40acf0;
    font-weight: bold;
    color: white;
}

.menu-option{
    margin-top: 0.4rem;
    font-size: 18px;
}

.menu-home-option{
    margin-top: 0.4rem;
    font-size: 18px;
}


.menu-home{
    color:#40acf0;
    padding-top: 0.5rem;
}

.menu-icon{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
}

.menu-more{
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
}

.menu-more:hover{
    border-color:#40acf0;
}

.menu-more-text{
    display: inline;
}

.menu-row{
    height: 5rem;
}

.menu-row{
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.menu-row:hover{
    border-radius: 100rem;
    background-color: #baeafdbb;
    color: #40acf0;
}


.menu-hover:visited{
    color:black;
}


.menu-hover:hover{
    text-decoration: none;
}
