.header{
     position: sticky;
     padding: 10px;
     border: 1px solid #ececec;
}

.tweet {
     border: 1px solid #ececec;
     border-top: none;
}

.tweetContent{
     padding: 7%;
     padding-left: 0;
}

.inline{
     display: inline;
}

.star {
     color: #1DA1F2;
}

.homeText{
     font-weight: bold;
}

body {
     font-family: "Helvetica Neue", sans-serif; 
}

.profilePic{

}

.submit {
     padding: 5px;
     width: 100%;
     border: none;
     background-color: #40acf0;
     font-weight: bold;
     color: white;
}

.tweetExtra{
     margin: 10px;
     margin-right: 20px;
     margin-left: 0;
     color: #1DA1F2;
}

.tweetInput {
     font-size: large;
     border: none;
}

.form-control {
     border: 0;
 }
