.tweet_header{
     position: sticky;
     padding: 10px;
     border: 1px solid #ececec;
}

.tweet_tweet {
     border: 1px solid #ececec;
     border-top: none;
}

.tweet_tweetContent{
     padding: 7%;
     padding-left: 0;
}

.tweet_inline{
     display: inline;
}

.tweet_star {
     color: #1DA1F2;
}

.tweet_homeText{
     font-weight: bold;
}

.tweet_body {
     font-family: "Helvetica Neue", sans-serif; 
}

.tweet-profilePic{
     margin-top: 0.5rem;
     width: 50px;
     height: auto;
     border-radius: 50%;
}

.tweet_submit {
     padding: 5px;
     width: 100%;
     border: none;
     background-color: #40acf0;
     font-weight: bold;
     color: white;
}

.tweet_tweetExtra{
     margin: 10px;
     margin-right: 20px;
     margin-left: 0;
     color: #1DA1F2;
}

.tweet_tweetInput {
     font-size: large;
     border: none;
}

.tweet_form-control {
     border: 0;
}
